.main-header {
    background-color: var(--rojo);
    display: flex;
    justify-content: space-between;
} 

.logo {
    padding: 4%;
    background: var(--rojo);
} 

header.main-header #burguer-menu {
    border: white 1px solid;
    margin: 15px 14px 31px 0px;
    padding: 4px;
    color: white;
    background: var(--rojo);
} 


















