.home-body{

display: inline-flex;

flex-direction: column;

width: 97%;
}

.product-card {

display: flex;

background: white;

margin-top: 16px;

padding: 10px;

flex-direction: column;
}

h2 {background-color: white;}

h4 {background-color: white;margin-left: 33px;}

p {
    background-color: white;
}

.product-card2 {
    display: inline-flex;
    background-color: white;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid lightgrey;
    align-items: center;
    justify-content: flex-start;
}

